<div *ngIf="myBookings!==null">
  <h3>My flight bookings</h3>
  <table class="table table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>Flight name</th>
        <th>Traveller name</th>
        <th>Traveller surname</th>
        <th>Departure City</th> 
        <th>Departure Time</th>
        <th>Arrival City</th>
        <th>Arrival Time</th>
        <th>Seat booked</th>
        <th>Download Ticket</th>
        <th>Cancel Booking</th>
      </tr>
    </thead>
    <tr *ngFor="let ticket of flightTickets">
      <td>{{ticket.flightName}}</td>
      <td>{{ticket.travellerName}}</td> 
      <td>{{ticket.travellerSurname}}</td>
      <td>{{ticket.departureCity}}</td>
      <td>{{ticket.departureTime}}</td>
      <td>{{ticket.arrivalCity}}</td>
      <td>{{ticket.travellerSurname}}</td>
      <td>{{ticket.seat}}</td>
      <td><button class="btn btn-outline-secondary" type="submit" (click)="viewTicket(ticket)">View Ticket</button></td>
      <td>
        <button class="btn btn-danger" type="submit" (click)="cancelBooking(ticket)">Cancel Booking</button>
      </td>
    </tr>
  </table>
  <div *ngIf="displayTicket==true">
      <div id="content" #content>
          <div style="border: solid; width: 1000px; height: 400px; background: lightskyblue">
              <label>
                  <img src="{{imageSource}}" alt="" width="100" height="60">
              </label>
              <h3 style="text-align: center">Travelstart Traveller Ticket</h3>
              <b>Date of Departure: {{ticket.departureDate}}</b>
              <br/>
              <div style="background: lavender">
                  <div>
                      <b>Flight name: </b>
                      <label style="border: solid; width: 200px; height: 30px; background: ivory">{{ticket.flightName}}</label>
                  </div>
                  <div>
                      <b>Seat: </b>
                      <label style="border: solid; width: 200px; height: 30px; background: ivory">{{ticket.seat}}</label>
                  </div>
                  <div>
                      <b>Traveller name: </b>
                      <label style="border: solid; width: 200px; height: 30px; background: ivory">{{ticket.travellerName}}</label>
                      <b>Traveller surname: </b>
                      <label style="border: solid; width: 200px; height: 30px; background: ivory">{{ticket.travellerSurname}}</label>
                  </div>
                  <div>
                      <b>Departure city: </b>
                      <label style="border: solid; width: 200px; height: 30px; background: ivory">{{ticket.departureCity}}</label>
                      <b>Departure time: </b>
                      <label style="border: solid; width: 200px; height: 30px; background: ivory">{{ticket.departureTime}}</label>
                  </div>
                  <div>
                      <b>Arrival city: </b>
                      <label style="border: solid; width: 200px; height: 30px; background: ivory">{{ticket.arrivalCity}}</label>
                      <b>Arrival time: </b>
                      <label style="border: solid; width: 200px; height: 30px; background: ivory">{{ticket.arrivalTime}}</label>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <div>
          <button class="btn btn-outline-secondary" (click)="downloadTicket()">Download Ticket</button>
          <button class="btn btn-outline-secondary" (click)="close()">Close</button>
      </div>
  </div>
</div>

<div>
  <div *ngIf="bookStatus!=null">
    <h3>New Booking Details</h3>
    <div class="alert alert-info">
      <strong>Note!</strong> Please check and click the below "Confirm Booking" button to confirm your booking..
    </div>
    <div>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Flight name</th>
            <th>Departure City</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Arrival City</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
          </tr>
        </thead>
        <tr>
          <td>{{selectedFlight.name}}</td>
          <td>{{selectedFlight.departurecity}}</td>
          <td>{{selectedFlight.departuredate}}</td>
          <td>{{selectedFlight.departuretime}}</td>
          <td>{{selectedFlight.arrivalcity}}</td>
          <td>{{selectedFlight.arrivaldate}}</td>
          <td>{{selectedFlight.arrivaltime}}</td>
        </tr>
      </table>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Number of Adults:</th>
            <td>{{noOfAdults}}</td>
          </tr>
          <tr>
            <th>Number of Children:</th>
            <td>{{noOfChildren}}</td>
          </tr>
          <tr>
            <th>Total Amount:</th>
            <td>R {{selectedFlight.fareChild*noOfChildren+selectedFlight.fareAdult*noOfAdults}}</td>
          </tr>
        </table>
      </div>
    </div>
    <button class="btn btn-outline-secondary" type="submit">Confirm Booking</button>
  </div>
</div>